<h1>The Battle Round Limit</h1>

<p>
    When you hit 1,500 rounds of battle, whomever has the most health remaining wins.
</p>

<p>
    This is the battle round limit, also known as the battle round cap.
    Its purpose is to limit the amount of processing the Pendoria servers must do, allowing for efficient processing speeds.
</p>

<p>
    Beware, staff has stressed that this may change in the future, so rely on it with caution.
</p>

<h2>History</h2>

<p>
    Previously, when a player hit the battle round limit, they would automatically lose.
    An update to the game modified this to give the victory to whomever had the most health remaining.
</p>
