<h1>Pendoria Encyclopedia</h1>

<p>
    This is an index of everything within the Pendoria Encyclopedia.<br>
    Included content is always in development and may be incomplete.
</p>

<p>
    If you find any dead links or incorrect information, please report it to Puls3.
</p>

<h2>
    Explanations
</h2>

<p>
    Informative material related to a specific subject.
</p>

<h3>
    Battle
</h3>

<p>
    Explanations related to combat and battle.
</p>

<ul>

    <li>
        <app-link path="/explain/battle-round-limit">The battle round limit</app-link>
    </li>

</ul>

<h2>
    Players
</h2>

<p>
    Details on players within the Pendoria community.
</p>

<h3>
    Staff Members
</h3>

<p style="margin-bottom: 0">
    A non-extensive list of staff and former staff.
</p>

<ul>

    <li><app-link path="/players/zampa">Zampa</app-link> (Creator, Co-Owner) (Former)</li>
    <li><app-link path="/players/gale">Gale</app-link> (Administrator) (Former)</li>

    <li><app-link path="/players/silent">Silent</app-link> (Administrator)</li>
    <li><app-link path="/players/xortrox">Xortrox</app-link> (Owner, Developer)</li>
    <li><app-link path="/players/puls3">Puls3</app-link> (Developer)</li>
    <li><app-link path="/players/kidel">Kidel</app-link> (Administrator)</li>

    <li><app-link path="/players/obscurity">Obscurity</app-link> (Owner) (Banned)</li>
    <li><app-link path="/players/maria">Maria</app-link> (Developer) (Banned)</li>
    <li><app-link path="/players/burgerwcheese">Burgerwcheese</app-link> (Co-Owner) (Banned)</li>

</ul>

<h3>
    Userscript Developers
</h3>

<ul>

    <li>
        <app-link path="/players/xikeon">Xikeon</app-link>
        (<app-link path="/userscripts/pendoria-plus">Pendoria+</app-link>)
    </li>

    <li>
        <app-link path="/players/puls3">Puls3</app-link>
        (<app-link path="/userscripts/pendorian-elite-ui">Pendorian Elite UI</app-link>, & others)
    </li>

    <li>
        <app-link path="/players/xortrox">Xortrox</app-link>
        (Miscellaneous Scripts)
    </li>

</ul>
